.git
.npmrc
.gitignore
.vscode
*.ts

npm-debug.log

node_modules
build
spec
typings
src

gulp.config.js
gulpfile.js

tsconfig.json
tsconfig.src.json
tsconfig.tst.json
tslint.json
typings.json